<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <!-- import the webpage's client-side javascript file -->
    <script src="/givencode.js" defer></script>
     <!-- google founts -->
    <link
      href="https://fonts.googleapis.com/css?family=Concert One"
      rel="stylesheet"
    />
    <!-- bootstrap link -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
        <!-- nav bar -->
   <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">This is not a test</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li class="active"><a href="/thegamecode">The Game</a></li>
      <li><a href="https://icu3u.herokuapp.com/">CCT</a></li>
    </ul>
  </div>
</nav>
     <!-- website heading -->
    <div class="jumbotron text-center">
      <h>Have some Fun</h>
    </div>
    
    <div class="row">
  <div class="col-sm-6">
    <!-- the game -->
    <div class="container">
    <canvas id="myCanvas" width="480" height="320"></canvas>
    </div></div>
  <div class="col-sm-6">
       <div class="thumbnail">
  
          <img src="https://thumbs.dreamstime.com/t/first-second-third-place-trophies-awards-isolated-whitebackground-57875378.jpg" alt="winning" style="width:100%">

      </div>
      </div>
</div>
    
    
    
    
  </body>
</html>