p {
  font-family: "Concert One";
  word-spacing: 2px;
  font-size: 16px;
  line-height: 1.8;
  color: #4d4d4d;
}
h {
  font-family: "Concert One";
  font-size: 40px;
  line-height: 2;
  color: #333333;
}

p2 {
   font-family: "Concert One";
  font-size: 25px;
  line-height: 2;
  color: #333333;
}
 * {
        padding: 0;
        margin: 0;
      }
      canvas {
        background: #eee;
        display: block;
        margin: 0 auto;
        background-color:#001f33;
      }